<!-- <form method="POST" class="donatehere">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.address }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.address }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.address }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
               {{ form.name }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.address }}
        </div>
        <div class="fieldWrapper">
            {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}"></label>
            {{ form.name }}
        </div>
        <button type="submit" class="save btn btn-default">DONE</button>
    </form>
{% endblock %}
{% for field in form %}
    <div class="fieldWrapper">
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %} -->